@font-face {
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}


body {
    padding-top: 52px;
}
.btn-facture-1 {
    color: #212529 !important;
    background-color: #666d7600;
    border: 1px solid #212529;
}
.btn-facture-1:hover {
    color: #fbfdff !important;
    background-color: #212529;
    border: 1px solid #212529;
}
.menu-general {
    padding: 5px 20px;
}
.menu-general .navbar-brand{
    font-size: 20px;
    font-family: 'Poppins SemiBold';
    color: #e1e1e1;
}
.menu-general ul li{
    font-size: 18px;
    font-family: 'Poppins Medium';
    padding: 0px 25px;
}

.menu-general ul li a{
    color: #e1e1e1 !important;
}
.menu-general ul li a:focus, .menu-general ul li a:hover{
    color: #ada9cf !important;
}
.menu-general2 .nav-link{
    color: #e1e1e1 !important;
}
.menu-general2 .nav-link:focus, .menu-general2 .nav-link:hover{
    color: #ada9cf !important;
}

.menu-general2 .nav-link{
    font-size: 18px;
    font-family: 'Poppins Medium';
}
.menu-general2 .nav-item {
    margin: 5px 0px;
}
.menu-general2 {
    height: 100vh;
}
.table-personl .card-body{
    padding: 0rem 0px;
}
.table-personl .card{
    border: 0px;
}
.table-personl .card-header span{
    font-size: 24px;
    font-family: 'Poppins Medium';
}
.table-personl .card-header a{
    font-size: 16px;
    font-family: 'Poppins Medium';
}
.content-or{
    background: #fbfdff;
}

 .card-header {
    margin-bottom: 34px;
    background-color: transparent;
    border-bottom: 0px solid rgba(0,0,0,.125);
}
 .thead{
    background-color: rgb(243 175 60);
}

  th{
    font-family: 'Poppins Regular';
    font-size: 14px;
    border-style: hidden;
}
 td{
    font-family: 'Poppins Regular';
    font-size: 14px;
    border-style: hidden;
}
/*.table-personl .table-striped {
    border-radius: 12px;
    margin-bottom: 0px;
}*/
/*.table-personl .table-responsive{
   border-radius: 12px;

}*/
/*Adaptacion movil*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #656a6e;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #E6E6E6;
}
@media (max-width: 767px) {
    .menu-general .ms-auto{
        display: none;
    }
    .menu-general2 {
        position: absolute;
        z-index: 100;
        transition: 17s;
        max-width: 223px;
    }
  }